body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #cad7ea;
}
nav {
    width: 15%;
    background-color: #010a12;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
main {
    width: 80%;
    padding: 20px;
}
header, footer {
    text-align: center;
    background-color: #010a12;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.exercise {
    margin-bottom: 60px;
    background-color: rgb(219, 227, 242);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.exercise h3 {
    margin-top: 0;
    color: #34495e;
}
input[type="number"], input[type="text"] {
    width: 50%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 25px;
}
button {
    padding: 10px 15px;
    background-color: #144a6e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 60px;
    cursor: pointer;
}
button:hover {
    background-color: #000000;
}
.exercise p {
    color: #160348;
}
#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#calculator button {
    background-color: #0f0155;
}
#calculator button:hover {
    background-color: #2596c3;
}
#calculator input {
    grid-column: span 4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
